@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/MT_Mountain_Road.jpg" alt="mountain road" />
    <p></p>
</div>
